html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font: 400 14px/100% "ALSDelsa", arial, sans-serif;
  color: #231f20;
}

*:focus-visible {
  outline: 0;
}

@font-face {
  font-family: "ALSDelsa";
  src: local("ALSDelsa-Regular"),
    url("../fonts/ALSDelsa-Regular.woff2") format("woff2"),
    url("../fonts/ALSDelsa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALSDelsa";
  src: local("ALSDelsa-Medium"),
    url("../fonts/ALSDelsa-Medium.woff2") format("woff2"),
    url("../fonts/ALSDelsa-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALSDelsa";
  src: local("ALSDelsa-Bold"),
    url("../fonts/ALSDelsa-Bold.woff2") format("woff2"),
    url("../fonts/ALSDelsa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CanelaDeck";
  src: local("CanelaDeck-Medium"),
    url("../fonts/CanelaDeck-Medium.woff2") format("woff2"),
    url("../fonts/CanelaDeck-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), url("../fonts/Noah-Bold.woff2") format("woff2"),
    url("../fonts/Noah-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --gap: 8px;
  --border-radius-2: 2px;
  --color-main-back: #f6f6f6;
  --color-violet-back: #440d83;
}

/* GLOBALS */
.flex {
  display: flex;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}

.ttl {
  margin: 0;
  line-height: 100%;
  font-weight: normal;
}

.title-2 {
  font-family: "CanelaDeck";
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
}

.link {
  /* padding: 5px 0;
  border-bottom: 1px solid #ffffff; */
}

.link span {
  margin-right: 6px;
}

.blue-link {
  color: #27a4e3;
  border-color: #27a4e3;
  transition: color 300ms ease;
}
.link svg path{
  transition: fill 300ms ease;
}
.link.blue-link:hover{
 color: #43A5FF;
}
.link.blue-link:hover svg path{
  fill: #43A5FF;
 }
.link.blue-link:active{
  color: #1072CC;
 }
 .link.blue-link:active svg path{
  fill: #1072CC;
 }

.btn-reset {
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.lst-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.txt {
  margin: 0;
}

.dark-txt {
  color: #231f20;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
} */

/* SECTION TOP */
.section__top {
  margin-bottom: 28px;
  justify-content: space-between;
  align-items: center;
}

.section__ttl {
  margin-right: 10px;
}

.section__top-link {
  padding-bottom: 0;
  font-size: 17px;
  line-height: 30px;
}

.section__top-link span {
  margin-right: 3px;
}

/* VIEW-ALL */
.view-all {
  display: none;
}

/* WRAPPER */
.wrapper {
  flex-wrap: wrap;
}

.aside-main__wrap {
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 5.57%;
  justify-content: center;
  background-color: #0f2233;
}

.sticky {
  position: fixed;
}

.stop {
  position: relative;
  align-self: flex-end;
}

.sidebar__menu,
.sidebar__link {
  flex-direction: column;
}

.sidebar__menu {
  padding: 24px 0 36px;
  min-width: 70px;
}

.sidebar__link {
  align-items: center;
  line-height: 110%;
  color: #ffffff;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 36px;
}

.sidebar__item:first-child svg {
  margin-bottom: 9px;
}

.sidebar__link svg {
  margin-bottom: 5px;
}

/* MAIN */
.main {
  flex-basis: 94%;
  flex-grow: 1;
  background-color: var(--color-main-back);
}

/* NAV */
.nav {
  color: #ffffff;
  background-image: url(../img/intc-nav.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 80px;
  min-height: 640px;
}

.nav__list {
  margin-bottom: auto;
  padding: 0;
  max-width: 610px;
  justify-content: space-between;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}
.cl-black:hover{
  color: #231F20;
}

.nav__item-main {
  padding: 10px 16px;
  border: 1px solid #ffffff;
  border-radius: 40px;
}

.nav__link {
  font-size: 18px;
}
.nav__link:hover{
  color: #231F20;
}

.nav__mid {
  padding: 30px 0 0 22px;
  min-height: 450px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.nav__mid-link {
  font-size: 16px;
}

.nav__mid-link svg {
  margin-right: 5px;
  vertical-align: bottom;
}

.nav__mid-link span {
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff;
}

.nav__ttl {
  margin-bottom: 15px;
  font-family: "CanelaDeck";
  font-size: 96px;
  font-weight: 500;
  line-height: 104px;
}

.nav__txt {
  position: relative;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
}

.nav__bottom-link {
  width: 309px;
  display: flex;
  justify-content: space-between;
  padding: 25px 31px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 33px;
}

.nav__bottom-link span {
  margin-right: 10px;
}

/* INTC */
.intc {
  padding: 57px 0;
}

.intc__container {
  background-color: #ffffff;
}

.intc__wrapper {
  padding: 39px 6px 43px 10px;
}

.intc__content {
  margin-bottom: var(--gap);
}

.intc__ttl {
  margin-bottom: 26px;
}

.intc__left,
.intc__video-link {
  flex-basis: 39%;
  border-radius: var(--border-radius-2);
  flex-grow: 1;
}

.intc__left,
.intc__video-link,
.intc__card {
  padding: 32px;
  font-size: 16px;
  line-height: 22px;
}

.intc__left {
  margin-right: var(--gap);
  border: 1px solid #E1E5EF;
}

.intc__left-about {
  margin-bottom: 20px;
}

.intc__left-ttl,
.intc__video-link,
.intc__card-ttl {
  font-family: "Noah";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.intc__left-ttl {
  margin-bottom: 10px;
}

.intc__video-link {
  background-image: url(../img/intc-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intc__bottom {
  display: flex;
  min-height: 296px;
}

.intc__card {
  color: #ffffff;
  flex-grow: 1;
  border-radius: var(--border-radius-2);
  transition: background-color 300ms ease;
}

.intc__card svg {
  margin-bottom: auto;
}

.intc__card:first-child {
  margin-right: var(--gap);
  display: flex;
  flex-direction: column;
  flex-basis: 39%;
  align-items: start;
  background: #8697c1;
}
.intc__card:hover{
  background-color: #95A4C9;
}
.intc__card:active{
  background-color: #7685AA;
}
.intc__card:hover .link svg{
  transform: rotate(45deg);
}
.intc__card:hover .link::before{
  bottom: -4px;
  opacity: 1;
}
.intc__card-link .link::before{
  border-bottom: 1px solid #fff;
}
.link:hover svg {
  transform: rotate(45deg);
}
.link.blue-link::before{
  border-bottom: 1px solid #148EFF;
}
.link:hover .link::before{
  bottom: -4px;
  opacity: 1;
}
.link.blue-link:hover::before{
  bottom: -4px;
  opacity: 1;
}


.intc__card:nth-child(2) {
  flex-basis: 39%;
  background-image: url(../img/intc-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intc__card-ttl {
  margin-bottom: 14px;
}

.intc__card-txt {
  margin-bottom: auto;
}

/* DIRECTIONS */
.directions {
  padding-bottom: 56px;
}

.directions__container {
  padding: 40px 0;
  background-color: #ffffff;
}

.directions__wrapper {
  padding: 0 10px;
}

.directions__ttl {
  margin-bottom: 20px;
}

.directions__card {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-grow: 1;
}
.directions__card-link{
  position: relative;
}
.directions__card-link.blue-link::before{
  border-bottom:1px solid #148EFF;
}
.link{
  position: relative;
}
.link::before{
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0px;
  opacity: 0;
  left: 0;
  border-bottom: 1px solid #fff;
  transition: all 300ms ease;
}
.link svg{
  transition: transform 300ms ease;
}
.directions__card:hover .link svg{
  transform: rotate(45deg);
}
.directions__card:hover .link::before{
  bottom: -4px;
  opacity: 1;
}

.directions__card:not(:last-child) {
  margin-right: var(--gap);
}

.directions__card-top  {
  position: relative;
  height: 100%;
  overflow: hidden;
  min-height: 290px;
  border-radius: 2px 2px 0 0;
}
.directions__card-top::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px 2px 0 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.directions__card:hover .directions__card-top::before{
  opacity: 0;
}
.directions__card-top img{
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}
.directions__card:hover .directions__card-top img{
  transform: scale(1.05);
}
.directions__card-1 {
  background-image: url(../img/directions-1.jpg);
}

.directions__card-2 {
  background-image: url(../img/directions-2.jpg);
}

.directions__card-3 {
  background-image: url(../img/directions-3.jpg);
}

.directions__card-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 28px;
  min-height: 332px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 0 0 2px 2px;
}

.directions__card--border {
  border: 1px solid #e1e5ef;
  border-top: 0;
  transition: border 300ms ease;
}
.directions__card:hover .directions__card--border{
  border: 1px solid #B6C1DA;
}
.directions__card:active .directions__card--border{
  border: 1px solid #A8B2C9;
}

.directions__card-color {
  color: #ffffff;
}

.directions__card--blue {
  background-color: #52b6e9;
  transition: background-color 300ms ease;
}
.directions__card:hover .directions__card--blue{
  background-color: #67BFEC;
}
.directions__card:active  .directions__card--blue{
  background-color: #48A0CD;
}

.directions__card--turquoise {
  background-color: #47beaa;
  transition: background-color 300ms ease;
}
.directions__card:hover .directions__card--turquoise{
  background-color: #5DC6B4;
}
.directions__card:active .directions__card--turquoise{
  background-color: #3EA795;
}

.directions__card-ttl {
  margin-bottom: var(--gap);
  font-family: "Noah";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.directions__card-txt {
  margin-bottom: auto;
}

/* NEWS */
.news {
  background-color: #ffffff;
}

.news__wrapper {
  padding: 38px 10px 35px;
}

.news__feed {
  flex-wrap: wrap;
}

.news__card {
  display: flex;
  margin-bottom: var(--gap);
}

.news__card:nth-child(odd) {
  margin-right: var(--gap);
}

.news__card-l {
  position: relative;
  z-index: 1;
  display: flex;
  margin-right: var(--gap);
  padding: 29px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 342px;
  min-height: 360px;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  border-radius: var(--border-radius-2);
  overflow: hidden;
}
.news__card-l img{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
}
.news__card-l::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.16);
  opacity: 0;
  transition: opacity 300ms ease;
}
.news__card-l:hover::before {
  opacity: 1;
}
.news__card-l:active::before {
  opacity: 1;
  background: rgba(0, 0, 0, 0.28);
}
.news__card-l:hover img{
  transform: scale(1.05);
}
.news__card-l:active img{
  transform: scale(1.05);
}
.news__card-l:hover .link svg{
  transform: rotate(45deg);
}
.news__card-l:hover .link::before{
  bottom: -4px;
  opacity: 1;
}

.post-2 {
  background-image: url(../img/intc-news-2.jpg);
}

.post-3 {
  background-image: url(../img/intc-news-3.jpg);
}

.post-4 {
  background-image: url(../img/intc-news-4.jpg);
}

.news__txt-l {
  max-width: 90%;
  font-size: 18px;
  font-weight: 500;
}

.news__link-l {
  padding: 0;
  padding-bottom: 3px;
}

.news__card-post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 296px;
  min-height: 176px;
  background-color: #ededed;
  border-radius: var(--border-radius-2);
  transition: background-color 300ms ease;
}
.news__link-r svg{
  transition: all 300ms ease;
}
.news__card-post:hover .news__link-r svg{
  transform: rotate(45deg);
}

.news__card-post:first-child {
  margin-bottom: var(--gap);
}

.news__txt-r {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.news__link-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 22px;
}

.news__link-r::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post--violet,
.post--blue {
  color: #ffffff;
}

.post--violet {
  background-color: #693d9c;
}
.news__card-post.post--violet:hover {
  background-color: #7B55A8;
}
.news__card-post.post--violet:active {
  background-color: #5C3689;
}

.post--blue {
  background-color: #27a4e3;
}
.news__card-post.post--blue:hover {
  background-color: #67BFEC;
}
.news__card-post.post--blue:active {
  background-color: #48A0CD;
}
.news__card-post:hover{
  background-color: #E1E1E1;
}
.news__card-post:hover{
  background-color: #D1D1D1;
}

/* RESIDENTS */
.residents {
  position: relative;
  padding: 56px 0;
}
.residents-container{
  padding: 45px 10px;
  overflow: hidden;
}
.residents::after {
  position: absolute;
  content: "";
  bottom: 56px;
  right: 0;
  width: 100%;
  height: calc(100% - 112px);
  background-color: #ffffff;
}

.line--active {
  margin-right: 16px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.card-top-1 {
  background-image: url(../img/residents-1.svg);
  background-position: 0 38%;
}

.card-top-2 {
  background-image: url(../img/projects-2.svg);
  background-position: 60% 220%;
}

.card-top-3 {
  background-image: url(../img/projects-3.svg);
  background-position: 70% 38%;
}

.card-top-4 {
  background-image: url(../img/residents-2.svg);
  background-position: 50% 50%;
}

.card-top-5 {
  background-image: url(../img/residents-3.svg);
  background-position: 50% 50%;
}

.card-top-6 {
  background-image: url(../img/residents-4.svg);
  background-position: 50% 50%;
}

.card-top-9 {
  background-image: url(../img/residents-5.svg);
  background-position: 50% 50%;
}

.card-top-11 {
  background-image: url(../img/residents-6.svg);
  background-position: 50% 50%;
}

.card-top-12 {
  background-image: url(../img/residents-7.svg);
  background-position: 50% 50%;
}

.card-top-15 {
  background-image: url(../img/residents-8.svg);
  background-position: 50% 50%;
}

.card-top-16 {
  background-image: url(../img/residents-9.svg);
  background-position: 50% 50%;
}

.card-top-17 {
  background-image: url(../img/residents-10.svg);
  background-position: 50% 50%;
}

.card-top-18 {
  background-image: url(../img/residents-11.svg);
  background-position: 50% 50%;
}

.card-top-20 {
  background-image: url(../img/residents-12.svg);
  background-position: 50% 50%;
}

.card-top-21 {
  background-image: url(../img/residents-13.svg);
  background-position: 50% 50%;
}

.card-top-22 {
  background-image: url(../img/residents-14.svg);
  background-position: 50% 50%;
}

.card-top-23 {
  background-image: url(../img/residents-15.svg);
  background-position: 50% 50%;
}

.card-top-24 {
  background-image: url(../img/residents-16.svg);
  background-position: 50% 50%;
}

.residents__card-link {
  padding: 0;
  padding-bottom: 5px;
  align-self: flex-start;
  font-size: 17px;
}

.residents__card-c {
  display: flex;
  min-height: 137px;
  align-items: flex-end;
}

.residents__card-b {
  min-height: 147px;
}

.residents__card-txt {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

/* PARTNERS */
.partners {
  background-color: #ffffff;
}

.partners__container {
  padding: 45px 10px;
  overflow: hidden;
}

.partners__top {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
}

.partners {
  overflow: hidden;
}

.partners__control {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 108px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url(../img/partners-prev.svg);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url(../img/partners-next.svg);
}

.partners__wrapper {
  padding: 32px 0 16px;
}

.partners__cards {
  display: flex;
}

.partners__cards:first-child {
  margin-right: var(--gap);
}

.partners__card {
  position: relative;
  padding: 24px 32px;
  flex-basis: 20%;
  text-align: center;
  border: 1px solid #e1e5ef;
  border-radius: var(--border-radius-2);
}
.partners__card .link span{
  font-size: 16px;
  color: #fff;
}
.partners__card .link svg path{
  fill: #fff;
}
.partners__card .link {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners__card:hover svg{
  transform: rotate(45deg);
}

.partners__card:not(:last-child) {
  margin-right: var(--gap);
}

.partners__link {
  display: flex;
  width: 100%;
  min-height: 196px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e1e5ef;
}

.partners__card-ttl {
  font-size: 16px;
}

.swiper-pagination {
  position: relative;
  text-align: left;
}

/* FORM */
.form {
  padding: 56px 0;
}

.form__container {
  padding: 0 10px;
}

.form__wrapper {
  background-color: #ffffff;
  padding: 42px;
}

.form__ttl {
  margin-bottom: 24px;
}

.form__left {
  display: flex;
  margin-right: 24px;
  flex-basis: 63.33%;
  flex-wrap: wrap;
  /* justify-content: start;
  text-align: left; */
}

.form__input {
  margin-bottom: 16px;
  padding: 16px 24px;
  flex-basis: 100%;
  border: 1px solid #e1e5ef;
  border-radius: var(--border-radius-2);
  font-weight: 100;
  font-size: 20px;
  line-height: 28px;
}
.form__input::placeholder {
  font-size: 20px;
  color: #a7a5a6;
}

.form__input-small {
  flex-basis: 30%;
  flex-grow: 1;
}

.form__input--mr {
  margin-right: 16px;
}


.textarea {
  min-height: 168px;
  resize: none;
}

.form__inf {
  font-size: 16px;
  color: #656263;
}

.form__inf--b {
  position: relative;
  padding-bottom: -5px;
  font-weight: 500;
}

.form__inf--b::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 17px;
  background-color: #656263;
}

.form__submit {
  padding: 8px 16px;
  font-size: 16px;
  color: #ffffff;
  background-color: #7D41C1;
  border-radius: 4px;
  transition: background-color 300ms ease;
}
.form__submit:hover{
  background-color: #9767CD;
}
.form__submit:active{
  background-color: #64349A;
}

.form__img {
  flex-basis: 20%;
  flex-grow: 1;
  background-image: url(../img/intc-form.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius-2);
}

/* ADDRESS */
.address {
  padding-bottom: 120px;
}

.address__container {
  padding: 42px 0;
  background-color: #ffffff;
}

.address__content {
  padding: 0 10px;
}

.address__wrapper {
  font-style: normal;
}

.address__card {
  padding: 28px;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  border-radius: var(--border-radius-2);
}

.address__card:not(:last-child) {
  margin-right: var(--gap);
}

.address__card--g {
}

.address__card--g {
  flex-basis: 49.8%;
  color: #ffffff;
  background-color: #8697c1;
  border-color: transparent;
}

.address__card--border {
  border: 1px solid #8697c1;
}

.address__card--border,
.address__card--b {
  flex-basis: 49.8%;
}

.address__card--b {
  background-color: #d4ae9e;
  color: #ffffff;
}

.address__ttl {
  margin-bottom: 32px;
}

.address__card-ttl {
  margin-bottom: 6px;
  font-family: "Noah";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.address__txt--m {
  margin-bottom: 16px;
}

.address__ttl--pt {
  padding-top: 18px;
}

.address__ttl--mb {
  margin-bottom: 18px;
}

.social {
  margin-bottom: 18px;
}

.social:not(:last-child) svg {
  margin-right: 17px;
}

/* FOOTER */
.footer {
  position: sticky;
  padding: 36px 0 46px;
  width: 100%;
  color: #ffffff;
  /* background-color: #2a2740; */
  background-color: #0f2233;
}

.footer__wrapper {
  padding: 0 5px;
}

.footer__top {
  align-items: center;
}

.footer__container {
  display: flex;
  width: 100%;
  align-items: center;
}

.footer__top-btn {
  display: none;
  width: 100%;
  max-width: 86px;
  justify-content: flex-start;
}

.footer__search {
  display: none;
  margin-right: auto;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  max-width: 560px;
  border: 1px solid #8697c1;
}

.footer__search-input {
  line-height: 100%;
  border: 0;
}

.footer__search-input::placeholder {
  font-size: 18px;
}

.footer__logo {
  margin-right: 14px;
}

.footer__ttl {
  display: flex;
  flex-direction: column;
  font-family: "CanelaDeck";
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 40px;
}

.footer__ttl-big {
  margin-bottom: 6px;
}

.footer__ttl-small {
  max-width: 50%;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.footer__catalogue {
  padding-top: 26px;
  flex-wrap: wrap;
  border-bottom: 1px solid #ffffff;
}

.footer__lst-wrap {
  display: flex;
  margin-right: 10px;
  padding-bottom: 40px;
  flex-basis: 31%;
  flex-direction: column;
  align-items: flex-start;
}

.footer__lst {
  line-height: 18px;
}

.footer__lst-ttl {
  padding-bottom: 2px;
  font-family: "CanelaDeck";
  font-size: 18px;
  font-weight: 500;
}

/* .footer__item {
  display: flex;
} */

.footer__item:not(:last-child) {
  margin-bottom: 11px;
}

.footer__item svg {
  display: none;
  flex-shrink: 0;
}

/* .footer__link-control {
  width: 100%;
} */

.footer__ttl-link {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.footer__catalogue-link {
  display: flex;
}

.footer__catalogue-link span {
  margin-right: 8px;
}

.footer__lst-open {
  display: none;
}

.footer__bottom {
  padding-top: 42px;
}

.footer__left {
  display: flex;
  align-items: flex-end;
  flex-basis: 31.7%;
  font-size: 13px;
  line-height: 18px;
}

.footer__txt.footer__txt:nth-child(-n + 2) {
  margin-bottom: var(--gap);
}

.footer__txt--s {
  max-width: 279px;
  opacity: 62%;
}

.footer__right {
  flex-basis: 52.85%;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts:first-child {
  margin-right: 20px;
}

.footer__contacts-wrap {
  margin-bottom: auto;
}

.footer__contacts-ttl {
  font-family: "CanelaDeck";
  font-size: 18px;
  font-weight: 500;
}

.footer__contacts--mob {
  display: none;
}

.footer__links-wrap {
  padding: 24px 0 20px;
  display: flex;
  flex-direction: column;
}

.footer__contacts-link--m {
  margin-bottom: 14px;
}

.footer__social {
  max-width: 144px;
  justify-content: space-between;
}

.footer__social svg {
  flex-shrink: 0;
}
.button-main-ekran{
  position: relative;
  z-index: 1;
  padding: 20px 32px;
  background: #FFFFFF;
  border-radius: 100px;
  width: max-content;
  margin-bottom: 76px;
}
.button-main-ekran .docs-item-desc-text{
  margin: 0;
}
.button-main-ekran .link-with-arrow{
  display: flex;
  justify-content: space-between;
}
.button-main-ekran a.link-with-arrow::before{
  display: none;
}
.button-main-ekran .text{
  font-size: 18px;
}
.button-main-ekran a.link-with-arrow .icon{
  margin-left: 16px;
}
.button-main-ekran .icon svg{
  width: 11.25px;
  height: 11.25px;
}
