:root {
  --gap: 8px;
  --border-radius-2: 2px;
  --color-main-back: #f6f6f6;
  --color-violet-back: #440d83;
}

@media (max-width: 1024px) {
  .sidebar,
  .nav__list {
    display: none;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .title-2 {
    font-size: 34px;
    line-height: 41px;
  }

  /* NAV */
  .nav {
    position: absolute;
    background-color: transparent;
  }

  .nav__wrapper {
    padding: 0;
    padding-top: 30px;
  }

  .burger {
    position: relative;
    display: block;
    margin-bottom: auto;
    width: 40px;
    height: 30px;
  }

  .burger__line,
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 7px;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 100px;
  }

  .burger__line {
    bottom: 42.2%;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  /* CITY */
  .city {
    padding: 140px 0 100px;
  }

  .city__wrapper {
    padding: 0 10px;
  }

  .city__top {
    min-height: 361px;
  }

  .city__ttl {
    max-width: 524px;
    font-size: 50px;
    line-height: 55px;
  }

  .city__txt {
    margin-bottom: 0;
    max-width: 726px;
    line-height: 26px;
  }

  .city__lst {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .city__itm {
    margin-right: 0;
    margin-bottom: 15px;
    padding: 20px;
    flex-basis: 40%;
    min-height: 306px;
    flex-grow: 1;
  }

  .city__itm:nth-child(odd) {
    margin-right: 15px;
  }

  .city__link {
    font-size: 24px;
    line-height: 29px;
    flex-basis: 100%;
  }

  .city__link span {
    max-width: 290px;
  }

  /* FOOTER */
  .footer {
    display: flex;
  }

  .footer__wrapper {
    padding: 0 10px;
  }

  .footer__top {
    padding: 0;
  }

  .footer__top svg {
    margin-right: 15px;
    width: 45px;
  }

  .footer__ttl {
    font-size: 24px;
  }

  .footer__catalogue {
    padding-bottom: 38px;
    flex-wrap: wrap;
  }

  .footer__lst-wrap:not(:last-child) {
    margin-right: 0;
  }

  .footer__lst-wrap:first-child {
    margin-right: 15px;
    flex-basis: 49%;
  }

  .footer__lst-wrap:nth-child(2) {
    flex-basis: 48%;
  }

  .footer__lst-wrap:last-child {
    padding-top: 35px;
    flex-direction: row-reverse;
    justify-content: start;
    flex-basis: 100%;
  }

  .footer__ttl-link {
    margin-bottom: 22px;
  }

  .footer__item {
    line-height: 17px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 12px;
  }

  .wrap-inner:last-child {
    margin-right: 15px;
    flex-basis: 49%;
  }

  .footer__bottom {
    padding-top: 40px;
    flex-direction: column-reverse;
  }

  .footer__right {
    padding-bottom: 38px;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #ffffff;
  }

  .footer__contacts {
    margin-bottom: 38px;
  }

  .footer__contacts--l {
    margin: 0;
    flex-basis: 39%;
    order: 2;
  }

  .footer__contacts:nth-child(2) {
    margin-right: 15px;
    flex-basis: 49%;
  }

  .footer__links-wrap {
    padding: 20px 0 16px;
  }

  .footer__social {
    max-width: 145px;
    justify-content: space-between;
  }

  .footer__contacts-link--l {
    padding: 0;
    order: 3;
    height: 25px;
  }

  .footer__left {
    padding-top: 42px;
    min-height: 185px;
  }

  .footer__left-top {
    max-width: 100%;
  }

  .footer__txt:last-child {
    max-width: 400px;
  }

  .footer__txt--s {
    max-width: 250px;
  }
}

@media (max-width: 720px) {
  .nav__wrapper {
    padding-top: 24px;
  }

  .burger {
    width: 21px;
    height: 16px;
  }

  .burger__line,
  .burger::before,
  .burger::after {
    height: 2px;
  }

  .city {
    padding: 84px 0 70px;
  }

  .city__top {
    min-height: 192px;
  }

  .city__ttl {
    font-size: 35px;
    line-height: 39px;
  }

  .city__txt {
    font-size: 14px;
    line-height: 18px;
  }

  .city__lst {
    margin-bottom: 5px;
  }

  .city__itm {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 15px;
    flex-basis: 33%;
    min-height: 190px;
  }

  .city__itm:nth-child(odd) {
    margin-right: 10px;
  }

  .city__link {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 480px) {
  .city__wrapper {
    padding: 0;
  }

  /* FOOTER */
  .footer {
    padding: 22px 0 40px;
  }

  .footer__wrapper {
    margin: 0;
    padding: 0;
  }

  .footer__top {
    padding: 0;
  }

  .footer__top svg {
    width: 45px;
  }

  .footer__ttl {
    font-size: 24px;
  }

  .footer__catalogue {
    padding-top: 16px;
    padding-bottom: 17px;
    flex-direction: column;
  }

  .footer__lst-wrap:not(:last-child) {
    margin: 0;
  }

  .footer__lst-wrap:last-child {
    padding-top: 0;
    flex-direction: column;
  }

  .footer__lst {
    display: none;
  }

  .footer__lst-ttl,
  .footer__contacts-ttl {
    font-size: 17px;
    line-height: 21px;
  }

  .footer__ttl-link {
    margin-bottom: 11px;
  }

  .footer__right {
    padding-bottom: 28px;
    flex-basis: 100%;
    min-height: 378px;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
  }

  .footer__contacts:first-child {
    margin-right: 0;
  }

  .footer__contacts--l {
    flex-basis: 100%;
    order: 0;
  }

  .footer__contacts:nth-child(2) {
    margin-right: 0;
    flex-basis: 100%;
  }

  .footer__links-wrap {
    padding: 16px 0;
  }

  .footer__social {
    max-width: 41%;
  }

  .footer__left {
    padding-top: 27px;
    flex-basis: 100%;
  }

  .footer__left-top {
    max-width: 100%;
  }

  .footer__txt--s {
    padding-top: 40px;
    max-width: 80%;
  }
}

/* @media (max-width: 355px) {

} */
