html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font: 400 14px/100% "ALSDelsa", arial, sans-serif;
  color: #231f20;
}

*:focus-visible {
  outline: 0;
}

@font-face {
  font-family: "ALSDelsa";
  src: local("ALSDelsa-Regular"),
    url("../fonts/ALSDelsa-Regular.woff2") format("woff2"),
    url("../fonts/ALSDelsa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALSDelsa";
  src: local("ALSDelsa-Medium"),
    url("../fonts/ALSDelsa-Medium.woff2") format("woff2"),
    url("../fonts/ALSDelsa-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALSDelsa";
  src: local("ALSDelsa-Bold"),
    url("../fonts/ALSDelsa-Bold.woff2") format("woff2"),
    url("../fonts/ALSDelsa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CanelaDeck";
  src: local("CanelaDeck-Medium"),
    url("../fonts/CanelaDeck-Medium.woff2") format("woff2"),
    url("../fonts/CanelaDeck-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), url("../fonts/Noah-Bold.woff2") format("woff2"),
    url("../fonts/Noah-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RedHatMono";
  src: local("RedHatMono-Medium"),
    url("../fonts/RedHatMono-Medium.woff2") format("woff2"),
    url("../fonts/RedHatMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --gap: 8px;
  --border-radius-2: 2px;
  --color-main-back: #f6f6f6;
  --color-violet-back: #440d83;
}

/* GLOBALS */
.flex {
  display: flex;
}

.container {
  max-width: 716px;
  margin: 0 auto 0 0;
  padding: 0 10px;
}

.ttl {
  margin: 0;
  line-height: 100%;
  font-weight: normal;
}

.title-2 {
  font-family: "CanelaDeck";
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
}

.title-3 {
  font-family: "Noah";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.link {
  padding: 5px 0;
  border-bottom: 1px solid #ffffff;
}

.link span {
  margin-right: 6px;
}

.blue-link {
  color: #27a4e3;
  border-color: #27a4e3;
}

.btn-reset {
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.lst-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.txt {
  margin: 0;
}

.dark-txt {
  color: #231f20;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
} */

/* SECTION TOP */
.section__top {
  margin-bottom: 28px;
  justify-content: space-between;
  align-items: center;
}

.section__ttl {
  margin-right: 10px;
}

.section__top-link {
  padding-bottom: 0;
  font-size: 17px;
  line-height: 30px;
}

.section__top-link span {
  margin-right: 3px;
}

/* WRAPPER */
.wrapper {
  flex-wrap: wrap;
}

.aside-main__wrap {
  flex-grow: 1;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 80px;
  flex-shrink: 0;
  justify-content: center;
  background-color: #0f2233;
}

.sticky {
  position: fixed;
}

.stop {
  position: relative;
  align-self: flex-end;
}

.sidebar__menu {
  padding: 24px 0 36px;
  min-width: 70px;
}

.sidebar__link {
  flex-direction: column;
  align-items: center;
  line-height: 110%;
  color: #ffffff;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 36px;
}

.sidebar__item:first-child svg {
  margin-bottom: 9px;
}

.sidebar__link svg {
  margin-bottom: 5px;
}

/* MAIN */
.main {
  flex-basis: 94%;
  flex-grow: 1;
  background-color: var(--color-main-back);
}

/* NAV */
.nav {
  background-color: #ffffff;
}

.nav__wrapper {
  padding: 32px 42px;
}

.nav__list {
  max-width: 85.4%;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 16px;
}

.nav__link {
  font-size: 18px;
}

/* OPPS */
.opps {
  background-color: #485566;
  background-image: url(../img/map-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.opps__container {
  padding: 42px 52px;
  max-width: 564px;
  margin-left: -10px;
  color: #ffffff;
  background-color: #293a49;
  opacity: 0.96;
  border-radius: 0px;
}

.opps__link {
  font-size: 16px;
  line-height: 23px;
  color: #b5bbc0;
}

.opps__link svg {
  margin-right: 5px;
}

.opps__link span {
  padding-bottom: 2px;
  border-bottom: 1px solid #b5bbc0;
}

.opps__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
}

.opps__ttl {
  margin-bottom: 22px;
  font-family: "CanelaDeck";
  font-weight: 500;
  font-size: 38px;
  line-height: 40px;
}

.opps__txt {
  font-size: 18px;
  line-height: 24px;
}

.opps__txt--g {
  position: relative;
}

.opps__txt--g::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    #2a3b4a 0%,
    rgba(42, 59, 74, 0.77) 44.27%,
    rgba(42, 59, 74, 0.4) 73.11%,
    rgba(42, 59, 74, 0) 100%
  );
  z-index: 1;
  border-radius: 2px;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.4s ease-in-out;
}

.open .accordion-content {
  opacity: 1;
}

.accordion-control {
  padding-top: 7px;
  padding-bottom: 1px;
  align-self: center;
  font-size: 16px;
  line-height: 23px;
  color: #b5bbc0;
  border-bottom: 1px dashed #b5bbc0;
}

.close-btn ,
.open .open-btn,
.open .opps__txt--g::after {
  display: none;
}

.open .close-btn {
  display: block;
}


.soon {
  padding-top: 24px;
}

.soon__ttl {
  margin-bottom: 25px;
  font-family: "CanelaDeck";
  font-weight: 500;
  font-size: 38px;
  line-height: 40px;
}

.soon__itm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px;
  min-height: 229px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.soon__itm:nth-child(1) {
  margin-bottom: 10px;
  background-image: url(../img/soon-1.jpg);
}

.soon__itm:nth-child(2) {
  background-image: url(../img/soon-2.jpg);
}

.soon__date {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 23px;
}

.soon__txt {
  max-width: 90%;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
}

/* FOOTER */
.footer {
  display: none;
  position: sticky;
  padding: 48px 0;
  width: 100%;
  color: #ffffff;
  background: #2a2740;
}

.footer__wrapper {
  padding: 0 5px;
}

.footer__top {
  padding-bottom: 20px;
  align-items: center;
}

.footer__catalogue {
  padding-top: 18px;
  padding-bottom: 43px;
  border-bottom: 1px solid #ffffff;
}

.footer__top svg {
  margin-right: 17px;
}

.footer__ttl {
  font-size: 34px;
}

.footer__lst-wrap,
.wrap-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__lst-wrap:not(:last-child) {
  margin-right: 20px;
}

.footer__lst-wrap:first-child {
  flex-basis: 37.5%;
}

.footer__lst-wrap:nth-child(2) {
  flex-basis: 31%;
}

.footer__lst--31 {
  margin-bottom: 31px;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__ttl-link {
  margin-bottom: 20px;
}

.footer__lst-ttl {
  font-family: "CanelaDeck";
  align-self: start;
  font-size: 18px;
  font-weight: 500;
}

.footer__bottom {
  padding-top: 42px;
}

.footer__left,
.footer__right {
  min-height: 209px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  flex-basis: 39%;
  font-size: 13px;
  line-height: 18px;
}

.footer__left-top {
  margin-bottom: auto;
  max-width: 85%;
}

.footer__txt.footer__txt:nth-child(-n + 2) {
  margin-bottom: var(--gap);
}

.footer__txt--l {
  border-bottom: 1px solid #ffffff;
}

.footer__txt--s {
  max-width: 50%;
}

.footer__right {
  flex-basis: 38.2%;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts:first-child {
  margin-right: 20px;
}

.footer__contacts-wrap {
  margin-bottom: auto;
}

.footer__contacts-ttl {
  font-family: "CanelaDeck";
  font-size: 18px;
  font-weight: 500;
}

.footer__links-wrap {
  padding: 24px 0 20px;
  display: flex;
  flex-direction: column;
}

.footer__contacts-link--l {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts-link--m {
  margin-bottom: 14px;
}

.footer__social {
  max-width: 58%;
  justify-content: space-between;
}

.footer__social svg {
  flex-shrink: 0;
}
